* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100%;
}
html {
  width: 100%;
}

h1 {
  font-weight: 400;
  font-size: 5rem;
}

h2 {
  text-align: center;
  font-weight: 100;
}

.button {
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(19, 19, 144);
}
/*Header*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Header end*/

/*Name Page*/

.name-screen {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.name-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  font-size: 2rem;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.name-box input {
  background-color: black;
  color: red;
  border: 1px solid white;
  text-align: center;
  height: 30px;
  font-size: 1.5rem;
  margin-top: 10px;
}

.start-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 100;
  height: 20px;
  width: 60px;
}
/*Name Page end*/

.game-screen {
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.info-text {
  font-size: 3rem;
  align-self: center;
  margin-bottom: 1rem;
}

.fire-button {
  display: none;
  align-self: center;
  justify-content: center;
  background-color: red;
  align-items: center;
  width: 2rem;
}

.rotate-button {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 1rem;
  width: 3rem;
}

.boards {
  display: none;
  justify-content: space-around;
  font-size: 2rem;
  padding: 1rem;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.board-space {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 40px;
  height: 45px;
}
/*Allows the board to glow blue on hover, except for the labeled board spaces*/
.right-container .board-space:not(.board-space-label):hover {
  background-color: blue;
  transition: 0.2s;
}
/*Classes for placing ships phase*/
.placement {
  background-color: blueviolet;
  transition: 0.2s;
}
.invalid-text {
  color: rgb(91, 11, 91);
}
.carrier-text {
  color: rgb(57, 124, 57);
}
.ship-space-carrier {
  background-color: rgb(57, 124, 57);
}

.battleship-text {
  color: rgb(19, 19, 144);
}
.ship-space-battleship {
  background-color: rgb(19, 19, 144);
}

.destroyer-text {
  color: rgb(189, 126, 24);
}
.ship-space-destroyer {
  background-color: rgb(189, 126, 24);
}

.submarine-text {
  color: rgb(182, 39, 120);
}
.ship-space-submarine {
  background-color: rgb(182, 39, 120);
}

.boat-text {
  color: rgb(89, 21, 135);
}
.ship-space-boat {
  background-color: rgb(89, 21, 135);
}

.attack-text {
  color: red;
}

.brace-text {
  color: blue;
}

.sunk-text {
  color: orange;
}
/*Placing ships phase classes end*/

/*Classes for attack phase*/

.selected {
  background-color: rgb(233, 245, 9);
}

.hit {
  background-color: red;
}

.miss {
  background-color: cyan;
}

/*End of attack classes */

/*End phase*/

.finish-screen-win {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.finish-screen-win h2 {
  font-size: 5vw;
}

.win-text {
  color: red;
  font-size: 10vw;
  transition-delay: 2s;
  transition-duration: 2s;
}

.finish-screen-lose {
  opacity: 0;
  display: flex;
  transition: 2s;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.finish-screen-lose h2 {
  font-size: 6vw;
}

.show {
  transition: opacity 2s linear;
  opacity: 1;
}

.hide {
  transition: opacity 2s linear;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .boards {
    flex-direction: column;
  }

  .game-screen {
    justify-content: center;
  }
  /*Info text starts to act wonky because of how big it is on smaller screens*/
  .info-text {
    font-size: 2.2rem;
  }
}
